{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drag and Drop Test App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <h1>Drag and Drop Test</h1>


  <div class="row">
  <div class="col-md-6">
  <form>
  <div class="form-group">
      <label for="comment">Test Area:</label>
      <textarea class="form-control" rows="20" id="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  </div>


  </body>
</html>
